body{
    background-image: linear-gradient(90deg, #4343b3, #00d4ff);
}
.body{
    border: 1px solid blue;
    box-shadow: 1px 2px 40px 1px rgba(10, 10, 10, .6);
    border-radius: 40px;
    height: 90vh auto;
    width: 75vw;
    margin: auto;  
    margin-top: 10vh;
    padding: 1em;;
}
::-webkit-scrollbar{
    width: 20px;
    background:#00d4ff;    
}
::-webkit-scrollbar-track{
   background:#00d4ff;
}
::-webkit-scrollbar-thumb{
    border: 1px solid rgb(40, 120, 212);
    border-radius: 50px;
    background: rgb(50, 191, 226);
    box-shadow: inset 1px 1px 10px rgb(39, 120, 212);
}
